h1{
    color: white;
}

@media (min-width: 1280px) {
    /**{*/
    /*  font-size: 15px;*/
    /*}*/

    p{
      line-height: 22.5px;
      margin-bottom: 0;
    }
    h1{
      font-size: 55px;
    }

    h2{
      font-size: 30px;
    }

    h3{
      font-size: 22.5px;
    }

    h4{
      font-size: 21px;
    }

    h5{
      font-size: 19px;
    }

    h6{
      font-size: 16.5px;
    }
}
